In [ ]:
# PYTHON MODULES
# import user-installed modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
 
# pandas options
pd.set_option('display.max_rows', 100)

In [ ]:
# use !wget -nc 'github path' to pull the happiness data
 
#load data from github
!wget https://raw.githubusercontent.com/bengranat/ITP487_Correlation_Analysis_IC/main/happyscore_income.csv
happiness_income_log = pd.read_csv('happyscore_income.csv')

--2022-11-16 21:20:44--  https://raw.githubusercontent.com/bengranat/ITP487_Correlation_Analysis_IC/main/happyscore_income.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12372 (12K) [text/plain]
Saving to: ‘happyscore_income.csv’

happyscore_income.c 100%[===================>]  12.08K  --.-KB/s    in 0s

2022-11-16 21:20:44 (115 MB/s) - ‘happyscore_income.csv’ saved [12372/12372]

In [ ]:
# view columns and null counts for each column in the data frame
print(happiness_income_log.columns)
print(happiness_income_log.info())

Index(['country', 'adjusted_satisfaction', 'avg_satisfaction',
       'std_satisfaction', 'avg_income', 'median_income', 'income_inequality',
       'region', 'happyScore', 'GDP', 'country.1'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country                111 non-null    object
 1   adjusted_satisfaction  111 non-null    float64
 2   avg_satisfaction       111 non-null    float64
 3   std_satisfaction       111 non-null    float64
 4   avg_income             111 non-null    float64
 5   median_income          111 non-null    float64
 6   income_inequality      111 non-null    float64
 7   region                 111 non-null    object
 8   happyScore             111 non-null    float64
 9   GDP                    111 non-null    float64
 10  country.1              111 non-null    object
dtypes: float64(8), object(3)
memory usage: 9.7+ KB
None

In [ ]:
# shape of the data frame
# happiness income log:
print("Happiness Income Log Shpae:")
print(happiness_income_log.shape)

Happiness Income Log Shpae:
(111, 11)

In [ ]:
# show first five rows of the data frame
happiness_income_log.head()

,country,adjusted_satisfaction,avg_satisfaction,std_satisfaction,avg_income,median_income,income_inequality,region,happyScore,GDP,country.1
0,Armenia,37.0,4.9,2.42,2096.76,1731.506667,31.445556,'Central and Eastern Europe',4.350,0.76821,Armenia
1,Angola,26.0,4.3,3.19,1448.88,1044.240000,42.720000,'Sub-Saharan Africa',4.033,0.75778,Angola
2,Argentina,60.0,7.1,1.91,7101.12,5109.400000,45.475556,'Latin America and Caribbean',6.574,1.05351,Argentina
3,Austria,59.0,7.2,2.11,19457.04,16879.620000,30.296250,'Western Europe',7.200,1.33723,Austria
4,Australia,65.0,7.6,1.80,19917.00,15846.060000,35.285000,'Australia and New Zealand',7.284,1.33358,Australia

In [ ]:
# clean the happiness income log
df = happiness_income_log[['GDP', 'happyScore']]
print(df.head())
 
print("Shape before dropping duplicates and unneeded columns: ")
print(df.shape)
 
df = df.drop_duplicates()
df = df.dropna()
 
print("Shape after dropping duplicates and unneeded columns: ")
print(df.shape)

       GDP  happyScore
0  0.76821       4.350
1  0.75778       4.033
2  1.05351       6.574
3  1.33723       7.200
4  1.33358       7.284
Shape before dropping duplicates and unneeded columns:
(111, 2)
Shape after dropping duplicates and unneeded columns:
(111, 2)

In [ ]:
df.head()

       GDP  happyScore
0  0.76821       4.350
1  0.75778       4.033
2  1.05351       6.574
3  1.33723       7.200
4  1.33358       7.284

In [ ]:
# To find the correlation among
# the columns using pearson method
df.corr(method ='pearson')

                 GDP  happyScore
GDP         1.000000    0.790061
happyScore  0.790061    1.000000

In [ ]:
# To find the correlation among
# the columns using kendall method
df.corr(method='kendall')

                GDP  happyScore
GDP         1.00000     0.60131
happyScore  0.60131     1.00000

In [ ]:
# To find the correlation among
# the columns using spearman method
df.corr(method='spearman')

                 GDP  happyScore
GDP         1.000000    0.793673
happyScore  0.793673    1.000000

In [ ]:
# clean the happiness income log
df = happiness_income_log[['income_inequality', 'std_satisfaction']]
print(df.head())
 
print("Shape before dropping duplicates and unneeded columns: ")
print(df.shape)
 
df = df.drop_duplicates()
df = df.dropna()
 
print("Shape after dropping duplicates and unneeded columns: ")
print(df.shape)

   income_inequality  std_satisfaction
0          31.445556              2.42
1          42.720000              3.19
2          45.475556              1.91
3          30.296250              2.11
4          35.285000              1.80
Shape before dropping duplicates and unneeded columns:
(111, 2)
Shape after dropping duplicates and unneeded columns:
(111, 2)

In [ ]:
# To find the correlation among
# the columns using pearson method
df.corr(method ='pearson')

                   income_inequality  std_satisfaction
income_inequality           1.000000          0.221831
std_satisfaction            0.221831          1.000000